<h3><%= @word.key %></h3>
<h4><%= @word.definition %></h4>

<div class="form-group">
  <label for="definition">Add Additional Definition</label>
  <input id="definition" name="definition" class="form-control" type="text">
</div>
<button type="submit" class="btn-info">Add Definition</button>
</form>

<div class="home">
  <a href="/">Back</a>
</div>
