
<h3><%= @word.key %></h3>
<h4><%= @word.definition %></h4>

<form action="/definition">
  <div class="form-group">
    <label for="definition_two">Add Additional Definition</label>
    <input id="definition_two" name="definition_two" class="form-control" type="text">
  </div>
<button type="submit" class="btn-info">Add Definition</button>
</form>

<h4><%= @definition_two %></h4>

<div class="home">
  <a href="/">Back</a>
</div>
