<h3><%= @word.key %></h3>
<h3><% @word.id %></h3>
<h4><%= @word.definition %></h4>

<h5>Additional Definitions</h5>
<%@word.definition_array.each do |definition|%>
<p><%=definition%><p>
<% end %>

<form action="/update/<%= @word.id %>" method="POST">
  <div class="form-group">
    <label for="definition_two">Add Additional Definition</label>
    <input id="definition_two" name="definition_two" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-info">Add Definition</button>
</form>

<div class="home">
  <a href="/">Back</a>
</div>
