<h3><%= @word.key %></h3>
<h3><% @word.id %></h3>
<h4><%= @word.definition %></h4>

<h5>Additional Definitions</h5>
<%@word.definition_array.each do |definition|%>
<p><%=definition%><p>
<% end %>

<form class="button" action="/update/<%= @word.id%>" method="get">
  <button type="submit" class="btn-info">Add definition</button>
</form>

<div class="home">
  <a href="/">Back</a>
</div>
